body,
html,
h1 {
    margin: 0;
}

body {
    
    font-family: 'Dosis', sans-serif;
    overflow-y: auto;
}

body,
html {
    height: 100%;
}

p {
    font-size: 1.5em;
    font-weight: 600;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    background-image: url(./house.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-top: 1em;
}

.nightmare {
    border-radius: .5em;
    text-align: center;
    background-color: rgb(138, 43, 226, .8);
    font-size: 3em;
    padding: .5em;
    font-family: fantasy;
    letter-spacing: .1em;
    text-shadow: 3px 3px 3px rgb(185, 110, 255);
    z-index: 5;
    box-shadow: 5px 5px 3px rgb(185, 110, 255);
    position: relative;
    border: 3px solid black;
    margin-bottom: .5em;
}

.choices {
    text-align: center;
    letter-spacing: .2em;
    font-family: fantasy;
    text-shadow: 2px 2px 2px rgb(185, 110, 255);
    margin-top: 0;
    margin-bottom: .2em;
}

.fatelist {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.fate {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    padding: .2em;
    
    border-radius: .7em;
    padding: 10px 20px;
    
    background-color: rgb(147, 112, 216, .7);
}

.fate:hover {
    box-shadow: 4px 4px 5px rgb(209, 93, 255);
    transition: .3s linear;
}

.skull {
    height: 11em;
    width: 11em;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover:active {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(180, 64, 238);
}

a:hover {
    text-decoration: none;
    color: black;
    /*text-shadow: 3px 3px 5px rgb(250, 89, 237);*/
    transition: .3s linear;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 43, 226, .8);
    margin: 5em 7em;
    padding: 3em;
    border-radius: 2em;
    box-shadow: 5px 5px 3px rgb(185, 110, 255);
    max-width: 600px;
    position: relative;
    bottom: 80px;
    border: 3px solid black;
}

@media screen and (max-width: 600px) {
    .nightmare {
        font-size: 2em;
        top: 0px;
        margin-bottom: .5em;
    }

    .story {
        padding: 1.2em;
        margin: 5em 1em;
        margin-top: 6em;
        margin-bottom: 1em;
        font-size: .9em;
    }

    .skull {
        height: 10em;
        width: 10em;
    }

    .fate {
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.3em;
    }
}